.container1{
    display: flex;
    background-image: url(../images/pattern.jpeg);
    justify-content: center;
}

.container1 span {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
}

.flag{
    display: flex;
    margin-top: 50px;
    justify-content: left;
}

#flag1 {
    background-color:mediumspringgreen;
}

.flag span{
    font-family: Helvetica;
    font-size:32px;
    font-weight: bold;
    color:white;
}

img{
    margin-top: 20px;
}

.descripciones {
    font-family: Helvetica;
    font-size: 25px;
}

.precios{
    font-weight: bold;
    color: blue;
}

#flag2 {
    background-color: lightcoral;
}
#flag3 {
    background-color: skyblue;
}
